<div style="float: left; padding: 2px; width: 200px; height: 200px;">
    <div style="border: 1px; border-color: black; width: 198px; height: 198px;">
        {% image '@AppBundle/Resources/public/images/image.png' %}
        <img src="{{ asset_url }}" width="190px" height="190px" />
        {% endimage %}
        <p style="background-color: blue; color: white; text-align: center;">{{ ip }}</p>
    </div>
</div>